@import "variables";

// Theme Dark
$dark-bg: hsl(222, 26%, 31%);
$dark-keypadbg: hsl(223, 31%, 20%);
$dark-displaybg: hsl(224, 36%, 15%);

$dark-delkey: hsl(225, 21%, 49%);
$dark-delkeyshadow: hsl(224, 28%, 35%);
$dark-eqkey: hsl(6, 63%, 50%);
$dark-eqkeyshadow: hsl(6, 70%, 34%);
$dark-numkey: hsl(30, 25%, 89%);
$dark-numkeyshadow: hsl(28, 16%, 65%);

$dark-textprimary: #ffffff;
$dark-textsecondary: hsl(221, 14%, 31%);

//Theme light
$light-bg: hsl(0, 0%, 90%);
$light-keypadbg: hsl(0, 5%, 81%);
$light-displaybg: hsl(0, 0%, 93%);

$light-delkey: hsl(185, 42%, 37%);
$light-delkeyshadow: hsl(185, 58%, 25%);
$light-eqkey: hsl(25, 98%, 40%);
$light-eqkeyshadow: hsl(25, 99%, 27%);
$light-numkey: hsl(45, 7%, 89%);
$light-numkeyshadow: hsl(35, 11%, 61%);

$light-textprimary: hsl(60, 10%, 19%);
$light-textsecondary: #ffffff;

//Theme High-Contrast
$contrast-bg: hsl(268, 75%, 9%);
$contrast-keypadbg: hsl(268, 71%, 12%);

$contrast-delkey: hsl(281, 89%, 26%);
$contrast-delkeyshadow: hsl(285, 91%, 52%);
$contrast-eqkey: hsl(176, 100%, 44%);
$contrast-eqkeyshadow: hsl(177, 92%, 70%);
$contrast-numkey: hsl(268, 47%, 21%);
$contrast-numkeyshadow: hsl(290, 70%, 36%);

$contrast-textprimary: hsl(52, 100%, 62%);
$contrast-textsecondary: #ffffff;
$contrast-texttertiary: hsl(198, 20%, 13%);

//THEME DARK
html[data-theme="dark"] {
  body {
    background-color: $dark-bg;
  }

  .calculator {
    &__keyboard {
      background-color: $dark-keypadbg;
    }

    &__display {
      background-color: $dark-displaybg;
      color: $dark-textprimary;
    }

    &__header {
      color: $dark-textprimary;
    }
  }

  .button {
    background-color: $dark-numkey;
    box-shadow: inset 0px -4px 0px $dark-numkeyshadow;

    &--delete,
    &--reset {
      background-color: $dark-delkey;
      box-shadow: inset 0px -4px 0px $dark-delkeyshadow;
      color: $dark-textprimary;
    }

    &--equal {
      background-color: $dark-eqkey;
      box-shadow: inset 0px -4px 0px $dark-eqkeyshadow;
      color: $dark-textprimary;
    }
  }
  .ts__input-container {
    background-color: $dark-displaybg;
  }

  input[type="radio"]:checked {
    background-color: $dark-eqkey;
  }
}

//THEME LIGHT
html[data-theme="light"] {
  body {
    background-color: $light-bg;
  }

  .calculator {
    &__keyboard {
      background-color: $light-keypadbg;
    }

    &__display {
      background-color: $light-displaybg;
      color: $light-textprimary;
    }

    &__header {
      color: $light-textprimary;
    }
  }

  .button {
    background-color: $light-numkey;
    box-shadow: inset 0px -4px 0px $light-numkeyshadow;

    &--delete,
    &--reset {
      background-color: $light-delkey;
      box-shadow: inset 0px -4px 0px $light-delkeyshadow;
      color: $light-textsecondary;
    }

    &--equal {
      background-color: $light-eqkey;
      box-shadow: inset 0px -4px 0px $light-eqkeyshadow;
      color: $light-textsecondary;
    }
  }
  .ts__input-container {
    background-color: $light-keypadbg;
  }

  input[type="radio"]:checked {
    background-color: $light-eqkey;
  }
}

//THEME HIGH-CONTRAST

html[data-theme="contrast"] {
  body {
    background-color: $contrast-bg;
  }

  .calculator {
    color: $contrast-textprimary;

    &__keyboard {
      background-color: $contrast-keypadbg;
    }

    &__display {
      background-color: $contrast-keypadbg;
      color: $contrast-textprimary;
    }
  }

  .button {
    color: $contrast-textprimary;
    background-color: $contrast-numkey;
    box-shadow: inset 0px -4px 0px $contrast-numkeyshadow;

    &--delete,
    &--reset {
      background-color: $contrast-delkey;
      box-shadow: inset 0px -4px 0px $contrast-delkeyshadow;
      color: $contrast-textsecondary;
    }

    &--equal {
      background-color: $contrast-eqkey;
      box-shadow: inset 0px -4px 0px $contrast-eqkeyshadow;
      color: $contrast-texttertiary;
    }
  }
  .ts__input-container {
    background-color: $contrast-keypadbg;
  }

  input[type="radio"]:checked {
    background-color: $contrast-eqkey;
  }
}
