//GENERAL VARIABLES
$keyboard-font-size: 3.2rem;
$app-border-radius: 10px;
$radio-group-bradius: 13px;
$radio-group-padding: 5px 0;
$form-title-margin: 2.6rem 2.6rem 0.7rem;
//DEKSTOP VARIABLES
$desktop-keyboard-grid-gap: 2.5rem;
$desktop-keyboard-padding: 3.2rem;
$dekstop-keyboard-btn-height: 6.4rem;
$desktop-display-height: 12.8rem;
$desktop-display-padding: 4rem 3.2rem 3.6rem;

//MOBILE VARIABLES
$mobile-keyboard-grid-gap: 1.3rem;
$mobile-keyboard-padding: 2.4rem;
$mobile-display-height: 8.8rem;
$mobile-display-padding: 2.9rem 2.4rem 2.2rem;
