@import "normalize";
@import "variables";
@import "themes";
@import "utilities";

//GENERAL STYLING

html {
  font-size: 62.5%;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//CALCULATOR
.calculator {
  margin: 0 auto;
  width: 54rem;

  // HEADER
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h1 {
      font-size: 3.2rem;
    }

    form {
      display: flex;
    }

    fieldset {
      border: none;
    }
  }

  //DISPLAY
  &__display {
    padding: 4rem 3.2rem 3.6rem;
    font-size: 5.2rem;
    text-align: right;
    border: 1px solid blacK;
    border-radius: 10px;
    box-sizing: border-box;
    max-height: 12.8rem;
  }

  //KEYBOARD
  &__keyboard {
    background-color: aqua;
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $desktop-keyboard-grid-gap;
    padding: $desktop-keyboard-padding;
  }
}

.ts {
  &__controls {
    display: flex;
    flex-direction: column-reverse;
  }

  &__label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

//KEYBOARD BUTTONS
.button {
  height: $dekstop-keyboard-btn-height;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-size: $keyboard-font-size;
  text-transform: uppercase;

  &--reset,
  &--equal {
    grid-column: span 2;
  }
}
