@import "normalize";
@import "variables";
@import "themes";
@import "utilities";

//GENERAL STYLING

html {
  font-size: 62.5%;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
}

body {
  transition: background-color 0.2s ease-in-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//CALCULATOR
.calculator {
  margin: 0 auto;
  width: 54rem;

  // HEADER
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h1 {
      font-size: 3.2rem;
    }

    form {
      display: flex;
      font-size: 1.2rem;
      align-items: center;

      h2 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: inherit;
        margin: $form-title-margin;
        cursor: pointer;
      }
    }

    fieldset {
      border: none;
      padding: 0;
    }
  }

  //DISPLAY
  &__display {
    padding: $desktop-display-padding;
    font-size: $desktop-display-font-size;
    text-align: right;
    border-radius: $app-border-radius;
    box-sizing: border-box;
    max-height: $desktop-display-height;
    max-width: $desktop-diplay-width;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  //KEYBOARD
  &__keyboard {
    border-radius: $app-border-radius;
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    gap: $desktop-keyboard-grid-gap;
    padding: $desktop-keyboard-padding;
    font-size: $keyboard-font-size;
  }
}

.ts {
  &__controls {
    display: flex;
    flex-direction: column-reverse;
  }

  &__label-container,
  &__input-container {
    width: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  &__input-container {
    border-radius: $radio-group-bradius;
    padding: $radio-group-padding;
  }
}

//KEYBOARD BUTTONS
.button {
  cursor: pointer;
  height: $dekstop-keyboard-btn-height;
  border-radius: $app-border-radius;
  outline: none;
  border: none;
  text-transform: uppercase;
  transition: all 0.1s ease;

  &--reset,
  &--equal {
    grid-column: span 2;
  }

  &:hover {
    filter: brightness(130%);
  }

  &:active {
    filter: brightness(130%);
    transform: translateY(2px);
  }
}

.pressed {
  filter: brightness(130%);
  transform: translateY(2px);
  filter: brightness(130%);
}

//CUSTOM RADIO BUTTONS
input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color 0.25s ease-out;
}

//RESPONSIVE DESIGN
@media only screen and (max-width: 60rem) {
  .calculator {
    width: $mobile-calculator-width;
    padding: 3rem 2.4rem;

    &__display {
      max-height: $mobile-display-height;
      padding: $mobile-display-padding;
      font-size: $mobile-display-font-size;
    }

    &__keyboard {
      grid-template-columns: repeat(4, 1fr);
      gap: $mobile-keyboard-grid-gap;
      padding: $mobile-keyboard-padding;
    }
  }

  .button {
    min-width: $mobile-button-width;
    &--reset,
    &--equal,
    &--delete {
      font-size: 2rem;
    }
  }
}
